.Touchbt {
  width: 152px;
  height: 40px;
}

.MainDiv {
  width: 100%;
  padding-top: 15px;

  min-height: 100px;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.12);

  .Inter {
    height: 100%;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-between;

    .ItemsSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}
