.Touchbt {
  width: 152px;
  height: 40px;
}
.NavWrapper {
  width: 100%;
  display: flex;
  z-index: 99;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.12);
}
.MainDiv {
  width: 100%;
  padding-top: 15px;
  height: 100px;

  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);

  .Inter {
    height: 100%;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-between;

    .ItemsSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 2rem;
      p {
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        margin: 0;
      }
    }
  }
}
.onmobileonly {
  display: none;
}
.NavBarmbl {
  display: none;
}

.CancelOrOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 5px;
  height: 40px;
  width: 40px;
  padding: 0;
  // background-color: #ffffff;
  &:hover {
    color: #696fb2;
  }
  cursor: pointer;

  .icon {
    padding: 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 950px) {
  .MainDiv {
    .Inter {
      .ItemsSection {
        display: none;
      }
    }
  }
  .onmobileonly {
    display: block;
  }
  .NavBarmbl {
    display: block;
  }
}
.logo {
  cursor: pointer;
}
