.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Assets/Hero.svg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // position: relative;
  // top: -100px;
  // z-index: -1;
  // width: 90%;
  margin-bottom: 2rem;
}
.buttonContainer {
  margin-top: 2rem;
}

.infoContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .svgContainer {
    .svg {
      width: 500px;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 4rem;
      font-weight: 500;
      letter-spacing: 0.05em;
      line-height: 130%;
    }
    p {
      font-family: 'Poppins';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 27px;
      width: 75%;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .infoContainer {
    .svgContainer {
      .svg {
        width: 400px;
      }
    }
    .textContainer {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 0.9rem;
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .infoContainer {
    flex-direction: column;
    .svgContainer {
      .svg {
        width: 80vw;
      }
    }

    .textContainer {
      align-items: center;
      text-align: center;
      h1 {
        font-size: 3.5rem;
        text-align: center;
        width: 90%;
      }
      p {
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .infoContainer {
    .textContainer {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
// @media screen and (max-width: 600px) {
//   .infoContainer {
//     .svgContainer {
//       .svg {
//       }
//     }

//     .textContainer {
//       h1 {
//       }
//       p {
//       }
//     }
//   }
// }
// @media screen and (max-width: 480px) {
//   .infoContainer {
//     .svgContainer {
//       .svg {
//       }
//     }

//     .textContainer {
//       h1 {
//       }
//       p {
//       }
//     }
//   }
// }
// @media screen and (max-width: 320px) {
//   .infoContainer {
//     .svgContainer {
//       .svg {
//       }
//     }

//     .textContainer {
//       h1 {
//       }
//       p {
//       }
//     }
//   }
// }
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.heroContainer {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 22;
}

.textContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 2rem;
  .heading {
    font-size: 10rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .heroContainer {
    .heading {
      font-size: 7rem;
    }
  }
  .textContainer {
    .heading {
      font-size: 7rem;
    }
  }
  .heroSvg {
    max-width: 70%;
  }
  .svg {
    width: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .heroContainer {
    .heading {
      font-size: 6.5rem;
    }
  }
  .textContainer {
    .heading {
      font-size: 6.5rem;
    }
  }
  .heroSvg {
    max-width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .heroContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    .heading {
      font-size: 7rem;
      margin-top: 1rem;
    }
  }
  .textContainer {
    align-items: flex-start;
    // margin-left: 0.5rem;
    margin-top: 0.2rem;
    .heading {
      font-size: 7rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .heroContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    // margin-left: 1rem;
    .heading {
      font-size: 6rem;
      margin-top: 1rem;
    }
  }
  .textContainer {
    align-items: flex-start;
    // margin-left: 1rem;
    margin-top: 0.2rem;
    .heading {
      font-size: 5.5rem;
    }
  }
}
@media screen and (max-width: 480px) {
  .heroContainer {
    .heading {
      font-size: 5rem;
      margin-top: 1rem;
    }
  }
  .textContainer {
    align-items: flex-start;
    // margin-left: 1rem;
    margin-top: 0.2rem;
    .heading {
      font-size: 4rem;
    }
  }
}
@media screen and (max-width: 320px) {
  .heroContainer {
    .heading {
      font-size: 3rem;
    }
  }
  .textContainer {
    .heading {
      font-size: 3rem;
    }
  }
}
.heroSvg {
  width: 900px;
  height: auto;
  margin-top: 2rem;
}

// animateDash
@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}
