.Wraper {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  .Maindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .Upper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      gap: 0.5rem;

      width: 100%;
      margin-right: 142px;
      .heading {
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.05em;
        font-style: normal;
      }
    }
    .DemoWork {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 2;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 0.1rem;
    }
    .Work1 {
      background-image: url('Computer.svg');
      background-repeat: no-repeat;
      width: 994.19px;
      height: 1082.99px;

      grid-row: 1/3;
    }
    .Work2 {
      width: 985.35px;
      height: 657.26px;
      background-image: url('bugHUnt.svg');
      background-repeat: no-repeat;
      grid-column: 2;
      grid-row: 1;
    }
    .Work3 {
      background-image: url('KushalDai.svg');
      background-repeat: no-repeat;
      width: 985.35px;
      height: 657.26px;
      grid-column: 2;
      grid-row: 2;
    }
  }
}
