$background-gradient-color: -webkit-linear-gradient(
  101.4deg,
  #7635b3 0%,
  #696fb2 100%
);

.footer {
  margin: 0px;
  margin-left: 0px;
  width: 90%;
  .horizontalline {
    // width: 100vw;
    background-color: rgba(255, 255, 255, 0.12);
    height: 1.5px;
    border: none;
    margin-bottom: 1rem;
  }
  .footerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    .mainContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      // height: 25rem;
      .insideMainContainer {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        gap: 7rem;
        margin-top: 2rem;
        .firstContainer {
          display: flex;
          flex-direction: row;
          text-align: center;
          justify-content: left;
          align-items: center;
          gap: 6rem;
          font-family: 'ClashDisplay-Variable';
          font-weight: 500;
          font-size: 0.9rem;
          line-height: 100%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: rgba(255, 255, 255);
          .firstContainerTitle {
            font-size: 1.15rem;
            letter-spacing: 0.05em;
            line-height: 130%;
            color: white;
          }
          .marginLeft {
            margin-left: 5rem;
          }
          .imageWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            .imageContainer {
              height: 3.3rem;
              width: 3.3rem;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #696fb2;
              .image {
                height: 1.3rem;
                width: 1.3rem;
              }
              // color: #0f0f0f;
              // background: -webkit-linear-gradient(
              //   101.4deg,
              //   #7635b3 0%,
              //   #696fb2 100%
              // );
              // background-clip: text;
              // -webkit-text-stroke: transparent;
              // -webkit-text-stroke-width: 3px;
            }
          }
        }
      }
    }
  }
}

.totalFooter {
  display: flex;
  flex-direction: row;
  font-family: 'ClashDisplay-Variable';
  font-style: normal;
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin: 1.2rem;
  padding: 0.8rem 8vw;
  align-items: center;
  justify-content: space-between;
  .privacyAndImprint {
    gap: 4rem;
    display: flex;
    flex-direction: row;
  }
}

// breakpoints - 1200, 1024, 768, 600, 480, 320
@media screen and (max-width: 1800px) {
  .mantraPic {
    scale: 90%;
  }
}
@media screen and (max-width: 1650px) {
  .totalFooter {
    padding: 0.8rem 5vw;
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    .footerContainer {
      .mainContainer {
        .insideMainContainer {
          gap: 5rem;
          .firstContainer {
            gap: 3rem;
            font-size: 0.8rem;
            .firstContainerTitle {
              font-size: 1rem;
            }
            .imageWrapper {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
  .mantraPic {
    scale: 85%;
  }
  .totalFooter {
    padding: 0.8rem 4vw;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    .footerContainer {
      .mainContainer {
        height: 17rem;
        .insideMainContainer {
          gap: 4rem;
          .firstContainer {
            gap: 1.5rem;
            font-size: 0.75rem;
            .firstContainerTitle {
              font-size: 0.85rem;
            }
            .imageWrapper {
              margin-left: 1.4rem;
              gap: 1.5rem;
            }
          }
        }
      }
    }
  }
  .mantraPic {
    height: 70px;
    width: 205px;
  }
  .totalFooter {
    padding: 0.8rem 4vw;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    .footerContainer {
      .mainContainer {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .totalFooter {
    padding: 0.8rem 4vw;
    font-size: 0.7rem;
    .privacyAndImprint {
      gap: 2rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .footer {
    .footerContainer {
      .mainContainer {
        height: 17rem;
        .insideMainContainer {
          gap: 3rem;
          .firstContainer {
            gap: 1rem;
            font-size: 0.8rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            .firstContainerTitle {
              font-size: 0.85rem;
              display: none;
            }
            .marginLeft {
              margin-left: 0rem;
            }
            .imageWrapper {
              margin-right: 1.4rem;
              // gap: 3rem;
            }
          }
        }
      }
    }
  }
  .totalFooter {
    padding: 0.8rem 4vw;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  .totalFooter {
    padding: 0.8rem 4vw;
    font-size: 0.65rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .privacyAndImprint {
      gap: 1rem;
      display: flex;
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 390px) {
  .footer {
    .footerContainer {
      .mainContainer {
        height: 14rem;
        .insideMainContainer {
          gap: 2rem;
          .firstContainer {
            gap: 1rem;
            font-size: 0.65rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            .marginLeft {
              margin-left: 0rem;
            }
            .imageWrapper {
              margin-right: 5vw;
              // gap: 3rem;
            }
          }
        }
      }
    }
  }
  .mantraPic {
    height: 60px;
    width: 180px;
  }
}
